/* src/App.css */

.App {
  padding: 0 10px;
}

.logo-container {
  font-size: 25px;
  color: beige;
  background-image: linear-gradient(to right, black , grey);
}

.accordion {
  width: 60%;
  /* max-width: 600px; */
  margin: 0 auto;
}

.accordion-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-header {
  padding: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-body {
  padding: 10px;
  background-color: #fff;
}

.accordion-header h2 {
  margin: 0;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.button-group button {
  margin-right: 5px;
}

.accordion-header span {
  font-weight: bold;
  color: #007bff;
}

.inputWithButton {
  position: relative;
  height: 50px;
  width : 100%;
}

.inputWithButton input{
  width: 20%;
  height: 100%;
  margin: 0 5px;
}

.inputWithButton>.task-desc{
  width: 30%;
}

.inputWithButton button {
position: absolute;
right: 42%;
top : 5px;
}

.create-error-text {
  margin-left: 7%;
}

.code-container {
  position: relative;
}

.code-block {
  width: 100%;
}

.code-copy-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.hand-cursor {
  cursor: pointer;
}